@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;	
}
img {
	max-width:100%;	
	height:auto;
}
a {
	text-decoration:none;	
}
a img {
	border:none;	
}
body {
	font-family: 'Coming Soon', cursive;
	width:100%;	
	max-width:980px;
	margin:1.25em auto;	
}
header {
	width:100%;	
}
header img {
	width:100%;	
}
